body, html {
    width: 100%;
    background-image: url("https://w0.peakpx.com/wallpaper/355/120/HD-wallpaper-champions-league-icio-uefa-champions-league.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
